<div class="jumbotron center">
<h1>Welcome to the world of Diederik</h1>

<% if user_signed_in? %>

<%else%>

<p> Click here to  
<%= link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-lg"%> 
<%= link_to "log in", new_user_session_path, class: "btn btn-success btn-lg"%></p>
<% end %>

</div>


